.error{
    background-color: white;
    position: absolute;
    padding: 2rem 3rem;
    border: 5px inset #cc0000;
    width: 25%;
    margin: 10% 35%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
      box-shadow:
    2px 2px 5px rgba(87, 81, 81, 0.25)  ,
      -5px -5px 10px  rgb(255, 255, 255);
}
.error h2 {
    padding: 0;
    margin: 0;
}
#errorbutton{
  background-color: #cc0000;
  padding: 5px;
  border: 2px solid #cc0000;
  align-self: center;
  transition: all 0.5s;
}
#errorbutton:hover{
    background-color:white;
    border: 2px solid #cc0000;
    color: #cc0000;
}


 
